ForsendelseClientSample/Service References/ForsendelsesService/ForsendelsesServiceV4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:tns="http://www.ks.no/svarut/services" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="ForsendelsesServiceV4" targetNamespace="http://www.ks.no/svarut/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="unqualified" targetNamespace="http://www.ks.no/svarut/services" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.w3.org/2005/05/xmlmime" />
      <xs:element name="retrieveForsendelseHistorikk" type="tns:retrieveForsendelseHistorikk" />
      <xs:element name="retrieveForsendelseHistorikkResponse" type="tns:retrieveForsendelseHistorikkResponse" />
      <xs:element name="retrieveForsendelseStatus" type="tns:retrieveForsendelseStatus" />
      <xs:element name="retrieveForsendelseStatusResponse" type="tns:retrieveForsendelseStatusResponse" />
      <xs:element name="sendForsendelse" type="tns:sendForsendelse" />
      <xs:element name="sendForsendelseResponse" type="tns:sendForsendelseResponse" />
      <xs:element name="setForsendelseLestAvEksterntSystem" type="tns:setForsendelseLestAvEksterntSystem" />
      <xs:element name="setForsendelseLestAvEksterntSystemResponse" type="tns:setForsendelseLestAvEksterntSystemResponse" />
      <xs:complexType name="setForsendelseLestAvEksterntSystem">
        <xs:sequence>
          <xs:element minOccurs="0" name="forsendelsesid" type="xs:string" />
          <xs:element minOccurs="0" name="lestAvFodselsnummer" type="xs:string" />
          <xs:element minOccurs="0" name="navnPaEksterntSystem" type="xs:string" />
          <xs:element minOccurs="0" name="datoLest" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setForsendelseLestAvEksterntSystemResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="retrieveForsendelseStatus">
        <xs:sequence>
          <xs:element name="forsendelsesid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveForsendelseStatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:forsendelseStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveForsendelseHistorikk">
        <xs:sequence>
          <xs:element name="forsendelsesid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveForsendelseHistorikkResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:forsendelseHistorikk" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="forsendelseHistorikk">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="hendelsesLogg" nillable="true" type="tns:hendelsesLogg" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="hendelsesLogg">
        <xs:sequence>
          <xs:element minOccurs="0" name="hendelse" type="xs:string" />
          <xs:element minOccurs="0" name="tidspunkt" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendForsendelse">
        <xs:sequence>
          <xs:element minOccurs="0" name="forsendelse" type="tns:forsendelse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="forsendelse">
        <xs:sequence>
          <xs:element minOccurs="0" name="avgivendeSystem" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="dokumenter" nillable="true" type="tns:dokument" />
          <xs:element minOccurs="0" name="konteringskode" type="xs:string" />
          <xs:element name="krevNiva4Innlogging" type="xs:boolean" />
          <xs:element name="kryptert" type="xs:boolean" />
          <xs:element name="kunDigitalLevering" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="lenker" nillable="true" type="tns:lenke" />
          <xs:element minOccurs="0" name="metadataForImport" type="tns:noarkMetadataForImport" />
          <xs:element minOccurs="0" name="metadataFraAvleverendeSystem" type="tns:noarkMetadataFraAvleverendeSakssystem" />
          <xs:element name="mottaker" type="tns:mottaker" />
          <xs:element minOccurs="0" name="printkonfigurasjon" type="tns:printkonfigurasjon" />
          <xs:element name="tittel" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dokument">
        <xs:sequence>
          <xs:element xmime:expectedContentTypes="application/octet-stream" name="data" type="xs:base64Binary" />
          <xs:element name="filnavn" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="giroarkSider" nillable="true" type="xs:int" />
          <xs:element name="mimetype" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="lenke">
        <xs:sequence>
          <xs:element minOccurs="0" name="ledetekst" type="xs:string" />
          <xs:element minOccurs="0" name="urlLenke" type="xs:string" />
          <xs:element minOccurs="0" name="urlTekst" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="noarkMetadataForImport">
        <xs:sequence>
          <xs:element minOccurs="0" name="dokumentetsDato" type="tns:dateTime" />
          <xs:element minOccurs="0" name="journalposttype" type="xs:string" />
          <xs:element minOccurs="0" name="journalstatus" type="xs:string" />
          <xs:element name="saksaar" type="xs:int" />
          <xs:element name="sakssekvensnummer" type="xs:int" />
          <xs:element minOccurs="0" name="tittel" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dateTime" final="extension restriction">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseDateTime">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseDateTime" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractDateTime">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractDateTime" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractInstant">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractInstant" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="noarkMetadataFraAvleverendeSakssystem">
        <xs:sequence>
          <xs:element minOccurs="0" name="dokumentetsDato" type="tns:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ekstraMetadata" nillable="true" type="tns:entry" />
          <xs:element name="journalaar" type="xs:int" />
          <xs:element minOccurs="0" name="journaldato" type="tns:dateTime" />
          <xs:element name="journalpostnummer" type="xs:int" />
          <xs:element minOccurs="0" name="journalposttype" type="xs:string" />
          <xs:element name="journalsekvensnummer" type="xs:int" />
          <xs:element minOccurs="0" name="journalstatus" type="xs:string" />
          <xs:element name="saksaar" type="xs:int" />
          <xs:element minOccurs="0" name="saksbehandler" type="xs:string" />
          <xs:element name="sakssekvensnummer" type="xs:int" />
          <xs:element minOccurs="0" name="tittel" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="entry">
        <xs:sequence>
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mottaker" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="adresse1" type="xs:string" />
          <xs:element minOccurs="0" name="adresse2" type="xs:string" />
          <xs:element minOccurs="0" name="adresse3" type="xs:string" />
          <xs:element minOccurs="0" name="land" type="xs:string" />
          <xs:element name="navn" type="xs:string" />
          <xs:element name="postnr" type="xs:string" />
          <xs:element name="poststed" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="privatPerson">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:mottaker">
            <xs:sequence>
              <xs:element minOccurs="0" name="fodselsnr" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="organisasjon">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:mottaker">
            <xs:sequence>
              <xs:element minOccurs="0" name="orgnr" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="printkonfigurasjon">
        <xs:sequence>
          <xs:element minOccurs="0" name="brevtype" type="tns:brevtype" />
          <xs:element name="fargePrint" type="xs:boolean" />
          <xs:element name="tosidig" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendForsendelseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="forsendelseStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="MOTTATT" />
          <xs:enumeration value="AKSEPTERT" />
          <xs:enumeration value="AVVIST" />
          <xs:enumeration value="VARSLET" />
          <xs:enumeration value="LEST" />
          <xs:enumeration value="SENDT_PRINT" />
          <xs:enumeration value="PRINTET" />
          <xs:enumeration value="MANUELT_HANDTERT" />
          <xs:enumeration value="SENDT_DIGITALT" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="brevtype">
        <xs:restriction base="xs:string">
          <xs:enumeration value="APOST" />
          <xs:enumeration value="BPOST" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="setForsendelseLestAvEksterntSystem">
    <wsdl:part name="parameters" element="tns:setForsendelseLestAvEksterntSystem" />
  </wsdl:message>
  <wsdl:message name="retrieveForsendelseStatus">
    <wsdl:part name="parameters" element="tns:retrieveForsendelseStatus" />
  </wsdl:message>
  <wsdl:message name="retrieveForsendelseHistorikk">
    <wsdl:part name="parameters" element="tns:retrieveForsendelseHistorikk" />
  </wsdl:message>
  <wsdl:message name="setForsendelseLestAvEksterntSystemResponse">
    <wsdl:part name="parameters" element="tns:setForsendelseLestAvEksterntSystemResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveForsendelseStatusResponse">
    <wsdl:part name="parameters" element="tns:retrieveForsendelseStatusResponse" />
  </wsdl:message>
  <wsdl:message name="sendForsendelseResponse">
    <wsdl:part name="parameters" element="tns:sendForsendelseResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveForsendelseHistorikkResponse">
    <wsdl:part name="parameters" element="tns:retrieveForsendelseHistorikkResponse" />
  </wsdl:message>
  <wsdl:message name="sendForsendelse">
    <wsdl:part name="parameters" element="tns:sendForsendelse" />
  </wsdl:message>
  <wsdl:portType name="ForsendelsesServiceV4">
    <wsdl:operation name="setForsendelseLestAvEksterntSystem">
      <wsdl:input name="setForsendelseLestAvEksterntSystem" message="tns:setForsendelseLestAvEksterntSystem" />
      <wsdl:output name="setForsendelseLestAvEksterntSystemResponse" message="tns:setForsendelseLestAvEksterntSystemResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveForsendelseStatus">
      <wsdl:input name="retrieveForsendelseStatus" message="tns:retrieveForsendelseStatus" />
      <wsdl:output name="retrieveForsendelseStatusResponse" message="tns:retrieveForsendelseStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveForsendelseHistorikk">
      <wsdl:input name="retrieveForsendelseHistorikk" message="tns:retrieveForsendelseHistorikk" />
      <wsdl:output name="retrieveForsendelseHistorikkResponse" message="tns:retrieveForsendelseHistorikkResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendForsendelse">
      <wsdl:input name="sendForsendelse" message="tns:sendForsendelse" />
      <wsdl:output name="sendForsendelseResponse" message="tns:sendForsendelseResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ForsendelsesServiceV4SoapBinding" type="tns:ForsendelsesServiceV4">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setForsendelseLestAvEksterntSystem">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="setForsendelseLestAvEksterntSystem">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setForsendelseLestAvEksterntSystemResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveForsendelseStatus">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="retrieveForsendelseStatus">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="retrieveForsendelseStatusResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveForsendelseHistorikk">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="retrieveForsendelseHistorikk">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="retrieveForsendelseHistorikkResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendForsendelse">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="sendForsendelse">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendForsendelseResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ForsendelsesServiceV4">
    <wsdl:port name="ForsendelsesServiceV4" binding="tns:ForsendelsesServiceV4SoapBinding">
      <soap12:address location="http://svarut.ks.no/tjenester/forsendelseservice/ForsendelsesServiceV4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>